%form{:action => '/',:method=>'post'}
  %label{:for=>'text'} Text: 
  %input{:id => 'text',:name=>'text'}
  %button
    Reverse

- if @string
  %section#stringreversed
    %h1 Your New Text
    %article
      = @string + clippy(@string)
       

