!!! 5
%html
  %head 
    %title String Reverse
    %link{:href=>"applications.css",  :type=>"text/css", :media=>"screen", :rel => "stylesheet"}
  %body
    %header
      %h1 String Reverse
    %section#content
      = yield
